body{
    font-family: 'Playfair Display', 'MyriadPro', serif;
    color: #626262;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}
.visually-hidden:not(focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.site-navigation{
    padding: 0px;
    margin: 75px auto 105px;
    list-style: none;
    display: inline-block;
}
.site-navigation li{
    display: inline-block;
    margin-right: 123px;
}
.site-navigation li:nth-child(4){
    margin-right: 0px;
}
.site-navigation a{
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
}
.site-navigation a:hover{
    color: #03a9f4;
}
.wrapper {
    display: inline-block;
    width: 900px;
}
.content-block{
    margin: 0px 60px 135px 0px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 420px;
}
.wrapper .content-block:nth-child(even){
    margin-right: 0px;
}
.wrapper .content-block:nth-child(5){
    margin-bottom:60px;
}
.wrapper .content-block:nth-child(6){
    margin-bottom:60px;
}
.content-type{
    margin-top: 0px; /* Не накладывался мargin текста на margin ищображения */
    margin-bottom: 30px;
    line-height: 17px;
    color: #b4ad9e;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}
.content-name{
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 36px;
}
.content-image{
    margin-bottom: 30px;
}
.wrapper .button{
    width: 164px;
    height: 60px;
    color: #626262;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Playfair Display', 'MyriadPro', serif;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 70px;
    /* Для кнопки пришлось прописывать все стили заново:( */
}